[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Mocha/Indicator

Comment=Mocha indicator
Comment[ar]=مؤشرات لاتيه
Comment[az]=Mocha İndikatoru
Comment[ca]=Indicador del Mocha
Comment[ca@valencia]=Indicador de Mocha
Comment[cs]=Ukazatel Mocha
Comment[el]=Δείκτης Mocha
Comment[en_GB]=Mocha indicator
Comment[eo]=Mocha indikilo
Comment[es]=Indicador Mocha
Comment[et]=Mocha indikaator
Comment[eu]=Mocha adierazlea
Comment[fi]=Mocha-ilmaisin
Comment[fr]=Indicateur de Mocha
Comment[gl]=Indicador de Mocha.
Comment[he]=מחוון לאטה
Comment[hsb]=Mocha pokazowak
Comment[id]=Indikator mocha
Comment[it]=Indicatore Mocha
Comment[ja]=Mocha インジケータ
Comment[ko]=Mocha 표시기
Comment[lt]=Mocha indikatorius
Comment[nl]=Indicator van Mocha
Comment[nn]=Mocha-markør
Comment[pl]=Wskaźnik Mocha
Comment[pt]=Indicador do Mocha
Comment[pt_BR]=Indicador do Mocha
Comment[ru]=Индикатор Mocha
Comment[sk]=Mocha indicator
Comment[sl]=Kazalnik Mocha
Comment[sv]=Mocha indikator
Comment[tr]=Mocha göstergesi
Comment[uk]=Індикатор Латте
Comment[zh_CN]=Mocha 任务指示器
Comment[zh_TW]=Mocha 指示器

[PropertyDef::X-Mocha-API]
Type=QString

[PropertyDef::X-Mocha-MainScript]
Type=QString

[PropertyDef::X-Mocha-ConfigUi]
Type=QString

[PropertyDef::X-Mocha-ConfigXml]
Type=QString

